In [4]:
import pandas as pd

In [5]:
weather = pd.read_csv(r'C:\Users\aa1\Desktop\python_projects\Weather Predictions\Houston airport data - 3722516.csv', index_col='DATE')

In [6]:
weather.head()

,STATION,NAME,ACMH,ACSH,AWND,FMTM,PGTM,PRCP,PSUN,SNOW,...,WT10,WT11,WT13,WT14,WT15,WT16,WT17,WT18,WT21,WV03
DATE,,,,,,,,,,,,,,,,,,,,,
1969-06-01,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",50.0,50.0,NaN,NaN,NaN,0.00,67.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969-06-02,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",70.0,60.0,NaN,NaN,NaN,0.18,57.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1969-06-03,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",100.0,100.0,NaN,NaN,1100.0,0.06,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1969-06-04,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",90.0,100.0,NaN,NaN,906.0,1.27,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1969-06-05,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",50.0,80.0,NaN,NaN,1048.0,0.00,24.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
weather.loc["1972-01-01":]

,STATION,NAME,ACMH,ACSH,AWND,FMTM,PGTM,PRCP,PSUN,SNOW,...,WT10,WT11,WT13,WT14,WT15,WT16,WT17,WT18,WT21,WV03
DATE,,,,,,,,,,,,,,,,,,,,,
1972-01-01,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",100.0,100.0,NaN,NaN,2112.0,0.10,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1972-01-02,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",40.0,30.0,NaN,NaN,412.0,0.00,72.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972-01-03,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",90.0,100.0,NaN,NaN,1548.0,0.06,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1972-01-04,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",100.0,100.0,NaN,NaN,1554.0,0.36,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1972-01-05,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",40.0,50.0,NaN,NaN,24.0,0.00,89.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-14,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",NaN,NaN,4.92,NaN,NaN,0.00,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-15,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",NaN,NaN,6.93,NaN,NaN,0.00,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-16,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",NaN,NaN,7.83,NaN,NaN,0.00,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-17,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",NaN,NaN,14.09,NaN,1506.0,0.00,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-18,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
weather

,STATION,NAME,ACMH,ACSH,AWND,FMTM,PGTM,PRCP,PSUN,SNOW,...,WT10,WT11,WT13,WT14,WT15,WT16,WT17,WT18,WT21,WV03
DATE,,,,,,,,,,,,,,,,,,,,,
1969-06-01,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",50.0,50.0,NaN,NaN,NaN,0.00,67.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969-06-02,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",70.0,60.0,NaN,NaN,NaN,0.18,57.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1969-06-03,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",100.0,100.0,NaN,NaN,1100.0,0.06,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1969-06-04,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",90.0,100.0,NaN,NaN,906.0,1.27,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1969-06-05,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",50.0,80.0,NaN,NaN,1048.0,0.00,24.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-14,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",NaN,NaN,4.92,NaN,NaN,0.00,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-15,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",NaN,NaN,6.93,NaN,NaN,0.00,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-16,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",NaN,NaN,7.83,NaN,NaN,0.00,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-17,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",NaN,NaN,14.09,NaN,1506.0,0.00,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-18,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
weather.shape

(20107, 43)

In [10]:
weather.isnull().sum()/weather.shape[0]*100

STATION     0.000000
NAME        0.000000
ACMH       50.952405
ACSH       50.952405
AWND       26.528075
FMTM       49.336052
PGTM       27.383498
PRCP        0.004973
PSUN       73.506739
SNOW        0.009947
SNWD        0.024867
TAVG       66.315214
TMAX        0.004973
TMIN        0.004973
TSUN       43.621624
WDF1       50.957378
WDF2       49.062516
WDF5       49.296265
WDFG       51.290595
WESD       70.935495
WSF1       50.957378
WSF2       49.062516
WSF5       49.286318
WSFG       51.275675
WT01       51.957030
WT02       93.380415
WT03       82.682648
WT04       99.791118
WT05       98.463222
WT06       99.736410
WT07       99.651863
WT08       77.082608
WT09       99.870692
WT10       99.995027
WT11       99.900532
WT13       87.099020
WT14       97.125379
WT15       99.920426
WT16       67.966380
WT17       99.910479
WT18       99.840851
WT21       99.099816
WV03       99.970160
dtype: float64

In [11]:
weather.columns

Index(['STATION', 'NAME', 'ACMH', 'ACSH', 'AWND', 'FMTM', 'PGTM', 'PRCP',
       'PSUN', 'SNOW', 'SNWD', 'TAVG', 'TMAX', 'TMIN', 'TSUN', 'WDF1', 'WDF2',
       'WDF5', 'WDFG', 'WESD', 'WSF1', 'WSF2', 'WSF5', 'WSFG', 'WT01', 'WT02',
       'WT03', 'WT04', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09', 'WT10', 'WT11',
       'WT13', 'WT14', 'WT15', 'WT16', 'WT17', 'WT18', 'WT21', 'WV03'],
      dtype='object')

In [13]:
core_weather = weather[['PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN']].copy()

In [14]:
core_weather.head(5)

            PRCP  SNOW  SNWD  TMAX  TMIN
DATE
1969-06-01  0.00   0.0   0.0  90.0  72.0
1969-06-02  0.18   0.0   0.0  85.0  62.0
1969-06-03  0.06   0.0   0.0  80.0  60.0
1969-06-04  1.27   0.0   0.0  66.0  60.0
1969-06-05  0.00   0.0   0.0  78.0  56.0

In [15]:
core_weather.columns = ['Precip','Snow','Snow_depth', 'Max_temp','Min_temp']

In [28]:
core_weather=core_weather.drop(columns=['Snow','Snow_depth'])

In [29]:
core_weather.head()

            Precip  Max_temp  Min_temp
DATE
1969-06-01    0.00      90.0      72.0
1969-06-02    0.18      85.0      62.0
1969-06-03    0.06      80.0      60.0
1969-06-04    1.27      66.0      60.0
1969-06-05    0.00      78.0      56.0

In [30]:
core_weather.describe()

             Precip      Max_temp      Min_temp
count  20106.000000  20106.000000  20106.000000
mean       0.136156     79.833880     59.307719
std        0.485107     13.544924     14.301519
min        0.000000     25.000000      7.000000
25%        0.000000     72.000000     48.000000
50%        0.000000     82.000000     62.000000
75%        0.020000     91.000000     72.000000
max       16.070000    109.000000     84.000000

In [31]:
core_weather.isnull().sum()

Precip      1
Max_temp    1
Min_temp    1
dtype: int64

In [32]:
core_weather.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20107 entries, 1969-06-01 to 2024-06-18
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Precip    20106 non-null  float64
 1   Max_temp  20106 non-null  float64
 2   Min_temp  20106 non-null  float64
dtypes: float64(3)
memory usage: 1.1+ MB

In [21]:
#core_weather['Snow'].value_counts()

Snow
0.0    20088
1.4        3
1.0        3
0.1        3
0.3        2
0.4        2
2.0        1
1.1        1
1.7        1
0.6        1
Name: count, dtype: int64

In [33]:
core_weather[pd.isnull(core_weather['Precip'])]

            Precip  Max_temp  Min_temp
DATE
2024-06-18     NaN       NaN       NaN

In [34]:
core_weather[pd.isnull(core_weather['Max_temp'])]

            Precip  Max_temp  Min_temp
DATE
2024-06-18     NaN       NaN       NaN

In [35]:
core_weather[pd.isnull(core_weather['Min_temp'])]

            Precip  Max_temp  Min_temp
DATE
2024-06-18     NaN       NaN       NaN

In [40]:
core_weather.loc['2024-06-1':'2024-06-30']

            Precip  Max_temp  Min_temp
DATE
2024-06-10    2.60      93.0      73.0
2024-06-11    2.97      93.0      73.0
2024-06-12    0.00      92.0      74.0
2024-06-13    0.00      94.0      76.0
2024-06-14    0.00      95.0      76.0
2024-06-15    0.00      93.0      75.0
2024-06-16    0.00      94.0      75.0
2024-06-17    0.00      92.0      77.0
2024-06-18     NaN       NaN       NaN

In [42]:
core_weather['Precip']=core_weather['Precip'].fillna(0)

In [43]:
core_weather[(pd.isnull(core_weather['Min_temp']))|(pd.isnull(core_weather['Max_temp']))]

            Precip  Max_temp  Min_temp
DATE
2024-06-18     0.0       NaN       NaN

In [50]:
core_weather.isnull().sum()

Precip      0
Max_temp    1
Min_temp    1
dtype: int64

In [53]:
core_weather=core_weather.ffill()

In [54]:
core_weather.isnull().sum()

Precip      0
Max_temp    0
Min_temp    0
dtype: int64

In [56]:
core_weather.dtypes

Precip      float64
Max_temp    float64
Min_temp    float64
dtype: object

In [58]:
core_weather.index

Index(['1969-06-01', '1969-06-02', '1969-06-03', '1969-06-04', '1969-06-05',
       '1969-06-06', '1969-06-07', '1969-06-08', '1969-06-09', '1969-06-10',
       ...
       '2024-06-09', '2024-06-10', '2024-06-11', '2024-06-12', '2024-06-13',
       '2024-06-14', '2024-06-15', '2024-06-16', '2024-06-17', '2024-06-18'],
      dtype='object', name='DATE', length=20107)

In [60]:
core_weather.index=pd.to_datetime(core_weather.index)

In [61]:
core_weather.index

DatetimeIndex(['1969-06-01', '1969-06-02', '1969-06-03', '1969-06-04',
               '1969-06-05', '1969-06-06', '1969-06-07', '1969-06-08',
               '1969-06-09', '1969-06-10',
               ...
               '2024-06-09', '2024-06-10', '2024-06-11', '2024-06-12',
               '2024-06-13', '2024-06-14', '2024-06-15', '2024-06-16',
               '2024-06-17', '2024-06-18'],
              dtype='datetime64[ns]', name='DATE', length=20107, freq=None)

In [64]:
core_weather.index.year

Index([1969, 1969, 1969, 1969, 1969, 1969, 1969, 1969, 1969, 1969,
       ...
       2024, 2024, 2024, 2024, 2024, 2024, 2024, 2024, 2024, 2024],
      dtype='int32', name='DATE', length=20107)